In [1]:
%reload_ext sql

In [2]:
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

In [138]:

%%sql

DROP TABLE  IF EXISTS Address_Book;

CREATE TABLE Address_Book
 (  
    Id_Number SERIAL PRIMARY KEY,
    Name varchar(35) NOT NULL,
    Lastname varchar(25),
    Contact_Details varchar(12),
    Address varchar(50),
    Search_count int
   
    
    );

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
Done.

[]

In [139]:

%%sql

INSERT INTO Address_Book( Name, Lastname, Contact_Details,Address,Search_count)

VALUES('Thabo','Masete','0730827493','Polokwane',0),
      ('Talani', 'Khosa', '0826478374', 'Venda',0),
      ('Mbhonies' ,'Hlabangwane','0785499273','Lephalale',0),
      ('Nandi','Baloyi','0724381282' ,'Pretoria',0),
      ('Vusi','zuma','0726473695' ,'Mafikeng',0),
      ('Terence',' Mangena ','0606836528' ,'Johannesburg',0),
      ('Rofhiwa ',' Sihongo ','0684381282' ,' Cape town ',0),
      (' Chris ','Ragwale ',' 0768627490 ' ,'Durban',0),
      ('Nhluvuko','Zitha','0848797036','Kimberely',0);

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
9 rows affected.

[]

In [8]:
%%sql

select * from Address_Book;

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.

[(1, 'Thabo', 'Masete', '0730827493', 'Giyani Sec F', 0),
 (4, 'Nandi', 'Baloyi', '0724381282', 'Devland', 0),
 (6, 'Terence', ' Mangena ', '0606836528', 'Alice lane', 0),
 (7, 'Rofhiwa ', ' Sihongo ', '0684381282', ' Cape town ', 0),
 (8, ' Chris ', 'Ragwale ', ' 0768627490 ', 'Protea Glen', 0),
 (9, 'Nhluvuko', 'Zitha', '0848797036', 'Tembisa', 2),
 (3, 'Mbhonies', 'Hlabangwane', '0785499273', 'Lephalale', 1),
 (2, 'Talani', 'Khosa', '0826478374', 'Venda', 1)]

In [5]:

%%sql
DELETE FROM  Address_Book
WHERE Name = 'Vusi';

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [150]:

%%sql
select * from Address_Book;

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.

[(1, 'Thabo', 'Masete', '0730827493', 'Giyani Sec F', 0),
 (2, 'Talani', 'Khosa', '0826478374', 'Venda', 0),
 (4, 'Nandi', 'Baloyi', '0724381282', 'Devland', 0),
 (6, 'Terence', ' Mangena ', '0606836528', 'Alice lane', 0),
 (7, 'Rofhiwa ', ' Sihongo ', '0684381282', ' Cape town ', 0),
 (8, ' Chris ', 'Ragwale ', ' 0768627490 ', 'Protea Glen', 0),
 (3, 'Mbhonies', 'Hlabangwane', '0785499273', 'Lephalale', 1),
 (9, 'Nhluvuko', 'Zitha', '0848797036', 'Tembisa', 2)]

In [151]:
Nam_search= input("Please enter the name of the person you want to search: ")
Last_search= input("Please enter their last name: ")
collected_nam_data = %sql SELECT Name  from  Address_Book
collected_lastname_data = %sql SELECT Lastname from  Address_Book

%sql UPDATE Address_Book SET Search_count = Search_count + 1  WHERE  Lastname = '{Last_search}'

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[]

In [153]:

%%sql
select * from Address_Book;

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.

[(1, 'Thabo', 'Masete', '0730827493', 'Giyani Sec F', 0),
 (2, 'Talani', 'Khosa', '0826478374', 'Venda', 0),
 (6, 'Terence', ' Mangena ', '0606836528', 'Alice lane', 0),
 (7, 'Rofhiwa ', ' Sihongo ', '0684381282', ' Cape town ', 0),
 (8, ' Chris ', 'Ragwale ', ' 0768627490 ', 'Protea Glen', 0),
 (3, 'Mbhonies', 'Hlabangwane', '0785499273', 'Lephalale', 1),
 (9, 'Nhluvuko', 'Zitha', '0848797036', 'Tembisa', 2),
 (4, 'Nandi', 'Baloyi', '0724381282', 'Devland', 1)]

In [25]:
import warnings
warnings.filterwarnings('ignore')

import ipywidgets as widgets
from IPython.display import display, clear_output

text = widgets.HTML( value = "<h1> Address book <h1>")

search_text = widgets.Text( value = "enter the person you want to search:")

button_send = widgets.Button(
                description='View Popular Address',
                tooltip='Send',
                style={'description_width': 'initial'}
)
 
button_delete = widgets.Button(
                description='delete',
                tooltip='Send',
                style={'description_width': 'initial'}
)
output = widgets.Output()

def popular(event):
    pop = %sql SELECT address, search_count from Address_Book WHERE search_count >= 0 ORDER BY search_count DESC LIMIT 3
    with output:
        clear_output()
        print(f"{pop}")
        button_send.on_click(popular)





button_send.on_click(popular)


def delete(event):
    pop = %sql DELETE FROM  Address_Book WHERE Name = 'Vusi';
    data= %sql SELECT * FROM Address_Book;
    with output:
        clear_output()
        print(f"{pop,data}")

        button_delete.on_click(delete)


        
space = widgets.HTML( value = "<h1><h1>")
enter = widgets.Text(Placeholder = "Enter your desired address here")
#text1 = widgets.HTML( value = "Enter your desired address here")

file = open("address_book.png", "rb")
image = file.read()

image_headline = widgets.Image(
                    value=image,
                    format='png',
                    width='300'
                )

label_headline = widgets.Label(
                    style={'description_width': 'initial'}
                )

search_options = widgets.RadioButtons(
    options=['Name', 'Last Name', 'Contact Details'],
    value='Name', # Defaults to 'pineapple'
    layout={'width': 'max-content'}, # If the items' names are long
    description='Search Options:',
    disabled=False

)

search_button = widgets.Button(
                description='Search...',
                tooltip='Send',
                style={'description_width': 'initial'})

def searching(event):
    if search_options.value == "Name":
        tr = %sql SELECT * from Address_Book where title = '{search_text.value}'
    elif search_options.value == "Last Name":
        tr = %sql SELECT * from Address_Book where author = '{search_text.value}'
    else:
        tr = %sql SELECT * from Address_Book where isbn = '{search_text.value}'
    with output:
        clear_output()
        print(f"{tr}")
    
search_button.on_click(searching)


    
button_delete.on_click(delete)



sc = widgets.HBox([search_options,search_button, search_text])
ts=widgets.HBox([button_delete])
horizintal_results = widgets.HBox([text,enter])
vbox_result = widgets.VBox([sc,text,space,horizintal_results,search_options,space,button_send,output,image_headline, label_headline,ts])

vbox_result

VBox(children=(HBox(children=(RadioButtons(description='Search Options:', layout=Layout(width='max-content'), â€¦

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.UndefinedColumn) column "title" does not exist
LINE 1: SELECT * from Address_Book where title = 'enter the person y...
                                         ^

[SQL: SELECT * from Address_Book where title = 'enter the person you want to search:']
(Background on this error at: https://sqlalche.me/e/14/f405)
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.UndefinedColumn) column "title" does not exist
LINE 1: SELECT * from Address_Book where title = 'enter the person y...
                                         ^

[SQL: SELECT * from Address_Book where title = 'enter the person you want to search:']
(Background on this error at: https://sqlalche.me/e/14/f405)
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.UndefinedColumn) column "title" does not exist
LINE 1: SELECT * from Address_Book where title = 'Rofhiwa'
                                         ^

[SQL: SELECT * from Address_Book where title = 'Rofhiwa']
(Background on this error at: https://sqlalche.me/e/14/f405)